<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscountRate" value="0.05"/>
	</appSettings>

	<connectionStrings>
		<add name="NorthwindDb" connectionString="Server=localhost;Database=Northwind;Trusted_Connection=true;"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>